@charset "UTF-8";
/* CSS Document */

.setting p{
	font-size:20px;
	border-bottom:1px solid #000000;
	padding:20px 0px 20px 25px;
	position:relative;
}

.setting span.price{
	padding-left:15px;
}

.setting span.on_or_off{
	padding-left:35px;
}

.setting p.setting_1{
	background: url(../img/arrow.png) no-repeat 95% 15px;
	background-size:30px;
}

	footer{
		border-top:none;}